@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
body {
  background-color: crimson;
  color: white;
}
.one {
  font-size: 20px;
  font-family: Ubuntu;
}
.two {
  font-size: 20px;
  font-family: Ubuntu;
}

.logo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  float: left;
  padding: 50px;
}
