@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
    scroll-behavior: smooth;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  background: linear-gradient(45deg, #313131, #313131f1);
  animation: gradient 15s ease-in-out infinite;
}



header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}
header .name {
  color: rgb(255, 255, 255);
    font-weight: 700;
    text-decoration: none;
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-text-stroke: 2px black ;

}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

ul{
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
ul li{
  position: relative;
  list-style: none;
}
ul li a{
  position: relative;
  padding: 6px 15px;
  font-size: 1.75em;
  text-decoration: none;
  line-height: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 25px;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.5);
}
ul li a::before{
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  transition: 0.5s;
}
ul li a:hover::before{
  width: 100%;
  filter: drop-shadow(0 0 25px var(--clr));
}

.sec, .timeline {
  position: relative;
  padding: 75px 100px;
  background:transparent;
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 10%;
}
.sec h1{
font-size: 4em;
color: rgb(180, 6, 41);
-webkit-text-stroke: 2px black;
}
.sec h2{
  font-size: 3em;
  color: rgb(255, 255, 255)
}
.sec h3{
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    font-size: 2em;
    width: 65%;
    color: black;
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
.sec p{
  font-size: 1.2em;
  color: white;
  }
#span-name {
  color: rgb(180, 6, 41);
  -webkit-text-stroke: 2px black; 
}
.contact-button{
  padding: 15px 40px;
  border: none;
  outline: none;
  color: rgb(180, 6, 41);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 20px;
  text-decoration: none;
  font-size: 4em;
  background: white;
  margin-left: 10px;
}
.contact-button::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 20px;
}
.contact-button::before {
  content: "";
  background: linear-gradient(
    75deg,
    #9e0c0c, #570303, #962e2e, #ee0202
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter:blur(25px);
  animation: glowing 10s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}
.contact-button:hover::before {
  opacity: 1;
}
@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}
.contact-button:active:after {
  background: transparent;
}
.contact-button:active {
  color: rgb(180, 6, 41);
  font-weight: bold;
}
#link, #link:hover {
  text-decoration: none;
  color: rgb(180, 6, 41);
  -webkit-text-stroke: 2px black;
}
#link2 {
  color: black;
}



.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Deze*/
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* Apskritimai  */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid rgb(180, 6, 41);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* dezes is kaires */
.left {
  left: 0;
}

/* dezes is desines */
.right {
  left: 50%;
}

/* prideti rodykle is kaires */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/*prideti rodykle is desines */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* sutvarko apskritimus dezems is desines */
.right::after {
  left: -16px;
}

/* kontentas */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* responsive ekranas */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* dezes */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* padaro visas rodykles, kad zetu i kaire puse */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* padaro, kad visi apskritimai butu vienoje tieseje */
  .left::after, .right::after {
    left: 15px;
  }

/* padaro desines dezes, kad atrodytu kaip is kaires */
  .right {
    left: 0%;
  }
}